ADMIN_EMAIL=anushsharma26@gmail.com
ADMIN_PASSWORD=@Nush123
JWT_SECRET=mynameisanushsharma
PORT=3000
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3NzY5MjQwMTUsImlkIjoiMDE5ZGIzOTUtZDgwMS03MWQ1LTlhZDUtZjNiZmNlMzU3NDU0IiwicmlkIjoiNGU5NmE0OTMtMjQyOS00NzRkLWJiNzEtYjRjZjJjZmVlM2NmIn0.O_ksfX9R2Z9sc-75-20rJ0--XN5Pp87DDn3J-wVlQBNRz6fFMmvsDYX2_hTC-0lerImUx_DLOuSXsZ1AM53gCA
TURSO_URL=libsql://selfbestbot-anushsharma27.aws-ap-south-1.turso.io